<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="main">
    <%= image_tag 'logo.svg', alt: 'Pragmatics Bookshelf' %>
    <h1><%= @page_title %></h1>
  </header>
  <section class="content">
    <nav class="side_nav">

      <div id="card" class="cards">
        <%= render_if @card && @card.line_items.any?, @card %>
      </div>

      <ul>
        <li><a href="/"><%= t('.home') %></a></li>
        <li><a href="/questions"><%= t('.questions') %></a></li>
        <li><a href="/news"><%= t('.news') %></a></li>
        <li><a href="/contact"><%= t('.contact') %></a></li>
      </ul>

      <% if session[:user_id] %>
        <nav class="logged_in_nav">
          <ul>
            <li><%= link_to 'Orders',   orders_path %> </li>
            <li><%= link_to 'Card',     cards_path  %> </li>
            <li><%= link_to 'Product',  products_path%></li>
            <li><%= button_to 'Logout', logout_path, method: :delete %></li>
          </ul>
        </nav>
      <% end %>
      </nav>
  <main class="<%= controller.controller_name %>">
    <%= yield %>
  </main>
  </section>
  </body>
</html>
